body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

/* Стили шапки */
.navbar {
    background-color: #333;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.75rem;
    color: #ffffff;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: #ffffff;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

/* Стиль главного баннера */
.main-banner {
    background: url('../Images/banner.jpg') no-repeat center;
    background-size: cover;
    color: #ffffff;
    padding: 3rem;
    text-align: center;
}

.main-banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста */
    color: #ffffff; /* Цвет текста */
    animation: fadeIn 1s ease-in; /* Анимация появления */
}

/* Добавление анимации */
@keyframes fadeIn {
    from {
        opacity: 0; /* Начальная прозрачность */
    }
    to {
        opacity: 1; /* Конечная прозрачность */
    }
}

.main-banner p {
    font-size: 1.5rem; /* Размер шрифта для подзаголовка */
    margin-top: 0.5rem; /* Отступ сверху */
    color: #eeeeee; /* Цвет текста */
}

/* Стиль новостных статей */
.article-card {
    border: none;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-card:hover {
    transform: translateY(-10px);
}

.article-card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.article-card .card-body {
    padding: 1.5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.article-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.article-excerpt {
    font-size: 1rem;
    color: #666;
    height: 100px;
}

.article-date {
    font-size: 0.875rem;
    color: #999;
    margin-bottom: 1rem;
}


